<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>>------------------->  XIN CHỜ VÀI PHÚT  <-------------------<</h1>
    <h1>NẾU CHỜ LÂU QUÁ XIN LOAD LẠI PAGE HOẶC LINK ĐÃ BỊ HỎNG :D</h1>
    
    
</body>
</html>